<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

</head>
<body>
    <div style="border-style: solid; border-width: 1px;">
        <h3>
           <b> Hello [[user]] </b>,
        </h3>
        <b>[[fromUser]] </b> said  "[[userMessage]]"
        <br />
        <br />
			you can repond to [[fromUser]] by clicking below link.
        <br />
        <br />
        <table style="width: 180px">
            <tr>
                <td  style="height: 30px;text-align: center;background-color: #006DCC">
                    <a href="http://khanawal.com/InboxThread.aspx?ID=[[threadId]]" style="color:white;text-decoration: none">Click to respond</a>
                </td>
            </tr>
        </table>
        <br/>
        Regards,
        <br/>
        Khanawal
		
    </div>
</body>
</html>
