
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
   
</head>
<body>
    <div style="border-style: solid; border-width: 1px;margin-left: 10px;">
        <h3>
           <b> Hello [[user]] </b>,
        </h3>
        <b>Welcome to khanawal, here you can eat all homemade yummy food or you can list your homemade food and earn some bucks.</b>
        <p><b>so enjoy your stay and eat as much as you can...</b></p>
        <br />
        <br />
        Regards,
        <br/>
        Admin
        <a href="Khanawal.com">Khanawal</a>
    </div>
</body>
</html>
