<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="khanawalEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lin.arvixe.com;initial catalog=khanawal;user id=C305050_Manish;password=Network123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>